:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#game-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}
.grid-item {
    background-color: lightgray;
    border-style: solid;
    border-width: 0.5;
    padding: 17px;
    text-align: center;
}
.header-buttons {
    float: left;
    margin: 10px;
}